<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h1>Home Page <%= 'hello world' .toUpperCase() %>
    </h1>

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate ad et quis perferendis deleniti ab iure,
        debitis pariatur eligendi consequuntur, adipisci enim molestiae? Itaque eum amet ducimus porro cumque facilis?
        A iste laboriosam temporibus suscipit iusto. Sed qui autem rerum repudiandae nobis delectus dignissimos omnis
        quae repellat consequuntur maxime mollitia, enim, iusto sapiente laudantium magnam in aspernatur, deleniti nulla
        corporis?
    </p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic quos, quas aliquam rem ratione unde fugit sequi quae
        accusamus distinctio quis voluptas impedit velit. Repudiandae quos consequatur tenetur repellendus neque!
        Corporis esse quae veniam iure quod cumque dicta commodi officia voluptatem temporibus vero vel non facilis
        animi est rem amet in expedita, aliquid sint. Debitis unde corporis dolores alias? Numquam.
    </p>


</body>

</html>